<div>
  I'm red
  <div class="foo">I'm green</div>
  <div class="bar">I'm yellow</div>
  <div class="my-apple.stem">I'm yellow</div>

  <div class:foo state:my-state="sub-state">I'm green</div>
  <div class:bar>I'm yellow</div>
  <div class.my-apple:stem>I'm yellow</div>

applePie({block: myApple });

function applePie(opts) {
  return  { color: bl.color || 'blue' };
}
  <apple-pie foo=bar apple=bar blocks.foo="my-apple" ></apple-pie>
  {{apple-pie block:my-apple block:meat-pie}}
</div>
